/*
Description:  theme for Classes
Author:       J Neathawk
Author URI:   https://knighthawk0811.github.io
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/



/*--------------------------------------------------------------
selector {
	layout(position)
	
	content(text)
	
	design(background)
	
	other(z-index)
}
----------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
:root {
  --color-variable: #ffffff;
}


----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries

--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
html * {
    box-sizing: border-box;
}
/*--------------------------------------------------------------
# General Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
nav a:visited {
  color: black;
}
nav a:hover {
  color: red;
}
nav a:active {
  color: purple;
}

li {
  list-style-type: square;
  color: blue;
}

/*--------------------------------------------------------------
# Header Area
--------------------------------------------------------------*/
header {
  background-color: lightcyan;
  padding: 10px;
}

/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/
body {
  margin: 0;
  padding: 10px;
  background-color: white;
}
main {
  width: calc(70% - 1px);
  float: left;
  padding: 1rem;
  border-right: 1px;
}
aside {
  width: 30%;
  float: right;
}
/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/
footer {
  background-color: lightcyan;
  text-align: center;
}

/*--------------------------------------------------------------
# Reusable Classes
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
